
/* Стили для index.html и общие стили с portfolio.html */
:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #fff;
    --secondary-bg-color:#F5F4FA;
    --bg-hero-futter:#2F303A;
    --complementary-color: #FFF;
    --hover-color: #188CE8;
}


body {
    background-color: var(--primery-white-color);
    color: var(--primery-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


/* Утилита сбасывающая маркеры у спиcков  */
.list {
    list-style: none;
}


/* Логотип */
.logo {
    color: var(--title-text-color);

    font-family: Raleway, sans-serif ; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-first-part {
    color: var(--accent-color);
}


/* Навигация в шапке профиля */
.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Текущая страница */

.site-nav .link.current {
    color: var(--accent-color);
}


/* Контакты в шапке профиля */
.contacts-nav .link {
    color: var(--primery-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus{
    color: var(--accent-color);
}


/* Герой */
.hero {
    background-color: var(--bg-hero-futter);
}
.hero-title {
    color: var(--primery-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* Секции */

/* Утилитный класс section */
.section-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.26;
    text-align: center;
   
}

/* Наши преимущества */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features .title {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .text { 
    font-size: 14px;
    line-height: 1.71;
}


/* Наша команда */
.section.team{
    background-color: var(--secondary-bg-color);
}
.our-team .title{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.our-team .text {
    font-size: 16px;
    line-height: 1.18;
}


/* Футтер */
.footer {
    background-color: var(--bg-hero-futter);
}
.logo-second-part {
    color: var(--primery-white-color);
}

/* Контакты в футтере */
.contacts .link-adress{
    color: var(--primery-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contacts .link-adress:hover,
.contacts .link-adress:focus{
    color: var(--accent-color);
}

.contacts .link {
    color: rgba(255,255,255,0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent-color);
}



/* Кнопки */

/* Утилитная кнопка. Пока оставлю, потом если что уберу */
.button {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

/* Главная кнопка - заказать услугу */
.button.primery {
    color: var(--primery-white-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.button.primery:hover,
.button.primery:focus {
    background-color: var(--hover-color);
}





/* Стили для portfolio.html */

/* Кнопки на странице портфолио */
.button.secondary{
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button.secondary.current{
    color: var(--primery-white-color);
    background-color: var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
}


/* Карточки - примеры работ */
.work-link{
    text-decoration: none;
}

.work-title{
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.work-text {
    color: var(--primery-text-color);

    font-size: 16px;
    line-height: 1.88;
}

